:root {
  --primary-bg-color: #050505;
  --text-color: #fafafa;
  --scrollbar-color: #a3a3a3;
  --text-font: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  scrollbar-width: thin;
  scrollbar-color: var(--scrollbar-color) transparent;

  &::-webkit-scrollbar {
    width: 4px;
    background-color: rgba(255, 255, 255, 0.12);
  }

  &::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.12);
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: var(--scrollbar-color);
  }
}

/* Accessibility and Visually Hidden Elements */
.visually-hidden:is(:not(:focus), :not(:active)),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
}

body {
  min-width: 320px;
  margin: 0;
  background-color: var(--primary-bg-color);
}

.hero-container {
  position: relative;
  width: 90%;
  margin: 20px auto;
  overflow: hidden;

  & .hero-background-video {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
}

.hero-text {
  position: relative;
  inset: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  font-family: var(--text-font);
  font-size: 30px;
  line-height: 40px;
  font-weight: 700;
  color: var(--text-color);
  white-space: pre;

  & > span {
    flex-grow: 1;
    margin: 0;
    background-color: var(--primary-bg-color);
    word-wrap: break-word;

    &:nth-child(3n) {
      color: rgba(255, 255, 255, 0.7);
    }
  }

  & .text-spacer {
    flex-grow: 210;
    min-width: 160px;
    max-width: 500px;
    background-color: transparent;
    box-shadow: inset 0 1px 0 6px var(--primary-bg-color);
  }

  & .hero-text-end {
    height: 100%;
  }
}

@media (min-width: 480px) {
  .hero-text {
    font-size: clamp(40px, 5vw, 50px);
    line-height: clamp(50px, 6vw, 60px);

    & .text-spacer {
      box-shadow: inset 0 3px 0 8px var(--primary-bg-color);
    }
  }
}

@media (min-width: 768px) {
  .hero-text {
    font-size: clamp(50px, 6vw, 55px);
    line-height: clamp(60px, 7vw, 65px);

    & .text-spacer {
      box-shadow: inset 0px 5px 0px 10px var(--primary-bg-color);
    }
  }
}

@media (min-width: 960px) {
  .hero-container {
    width: 50%;
  }
}

@media print {
  .hero-background-video {
    display: none;
  }
}
